html, select, input {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.stats-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

p {
  color: #fff;
  width: 70%;
  padding: 0.5em;
  background: #bb3a3a;
  border-radius: 10px;
}

@media (min-width: 1550px) and (max-width: 1920px) {
  html {
    font-size: 2.2em;
  }
}
@media (min-width: 1280px) and (max-width: 1550px) {
  html {
    font-size: 1.5em;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  html {
    font-size: 1.5em;
  }
  .stats-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  html {
    font-size: 0.9em;
  }
}