nav {
  background: #00adb5;
  height: 15vh;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

select, .country-input {
  margin: 0 0.5em;
}

select {
  display: none;
  border-radius: 20px;
  padding: 0.1em;
  outline: none;
}

.country-input {
  background: inherit;
  border: 0;
  outline: 0;
  color: #eeeeee;
}

.country-input::placeholder {
  color: #eeeeee;
}

.search-area {
  position: relative;
}

ul {
  width: 92%;
  padding: 0;
  margin: 0 0.5em;
  border-radius: 7px;
  list-style: none;
  position: absolute;
  top: 100%;
  z-index: 1000;
  background: rgb(255, 255, 255);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

li {
  margin: 0.5em 0;
  padding: 0 0.5em;
  cursor: pointer;
}

li:hover {
  background: #efefef;
}

form {
  display: flex;
  align-items: center;
}

.radio {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.radio input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.radio label {
  color: #eeeeee;
  cursor: pointer;
  padding: 0.1em;
  border-radius: 5px;
  transition: all 0.25s;
}

.radio input[type="radio"]:checked + label {
 background-color: #222831;
}

@media (max-width: 960px) {
  section {
    width: 80%;
  }

  select {
    display: block;
    font-size: 1.2em;
  }

  form {
    display: none;
  }
}